body {
    background-color: #000;
    color: #fff;
    line-height: 24px;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    min-width: 960px;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    color: #fff;
    border: #000;
    background-color: #000;
    width: 140px;
    padding: 10px 0;
    ;
}

button[type=submit] {
    width: 301;
}

button:hover {
    background-color: #663d15;
}

input {
    width: 140px;
    border: 1px solid #000;
    background-color: #f9f6f3;
    padding: 15px 0;
    color: #716f6e;
    font-weight: 700;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header {
    min-width: 960px;
}

.site-navigation,
.user-navigation {
    list-style: none;
}

.site-navigation li:hover,
.user-navigation li:hover {
    background-color: #242424;
}

.site-navigation a:active,
.user-navigation a:active {
    color: #fff;
    border-bottom: 2px solid #fff;
}

section {
    background-color: #f3f0ed;
    color: #000;
}

.feature-list {
    list-style: none;
}

.news-list {
    list-style: none;
}

.footer {
    background-image: url(../img/innerbg.png);
}

div .socials {
    list-style: none;
}